
#com-registerEmail {
  padding: 0 8%;
.alyError {
  font-size: 0.12rem;
  color: #ef5a61;color: $common-error;
  width: 100%;
  display: block;
  padding-left: 0.1rem;
  position: relative
}
.alyError span {
  position: absolute;
}
.ln {
  /* padding: 0; */
  width: 100%;
  margin-top: 0.2rem;
}
}

