body{width:100%;min-width:320px;max-width:768px;background:#18243c;margin:0 auto;}
.container{width:100%;margin:0 auto;}
.container .main_view{width:100%;margin:0 auto;}
#com-noticeDetail {color:#bdc3c7;padding: 0 .1rem;}
#com-noticeDetail .title{text-align: center;font-size: .16rem;line-height: .4rem;}
#com-noticeDetail .content{font-size: .14rem;line-height: .3rem;}
#com-noticeDetail .content p{text-indent: .3rem;}