#com-modifyPassword{
  padding: 0 8%;
  margin-bottom: 0.3rem;
.title{
  text-align: center;
  font-size: 0.16rem;
  height: 0.4rem;
  line-height: 0.4rem;
}
button {
  width: 100%;
  /* margin-left: 8%; */
  height: 0.45rem;
  background: #2b89e1;background: $common-iconColor;
  border-radius: 0.04rem;
  margin-top: 0.3rem;
  color: #c7cce6;
  color: $common-fontColor;
  font-size: 0.16rem;
  letter-spacing: 0.03rem;
}
}