// 公共颜色
$common-background: #18243c; // 背景颜色
$common-fontColor: #c7cce6;  // 字体颜色
$common-Vice: #7b8191; // 字体颜色2
$common-emphasize: #2b89e1; // 字体颜色3
$common-iconColor: #2b89e1; // icon颜色
$common-interval: #1c2b49; // 结果边框颜色
$common-rise: #01bd8b; // 涨颜色
$common-fall: #cb4848; // 跌颜色
$common-success: #57bd51; // 成功颜色
$common-error: #ef5a61; // 错误颜色
$yellow-color: #ff9624; // 用于星号标记颜色 黄色、提醒的文字颜色

// 公共input组件
$input-background: #1c2b49; // input 背景颜色
$input-border: #404e6f; // input 默认边框颜色 
$input-AC_border: #2b89e1; // input 选中边框颜色
$input-error: #ef5a61; // input 错误文字颜色
$input-Text-placeholder: #7b8191; // input placeholder颜色
$input-Text-default: #c7cce6; // input 输入颜色
$input-icon: #7b8191; // input icon颜色