.coinTran {
  .get_force {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100000;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
    .pop_shadow {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
    }
    .at_explain {
      position: relative;
      width: 805px;
      color: #fff;
      height:312px;
      font-size: 16px;
      line-height: 28px;
      box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.50);
      border-radius: 0 0 16px 16px;
      margin: 0 auto;
      background:url('../../assets/img/bonus.png') no-repeat center top;
      .explain {
        position: relative;
        padding-top:121px;
        text-align:center;
        #my_force{
          font-size: 72px;
          line-height:100px;
        }
        .go_money{
          color:#fff;
        }
        h2 {
          font-size: 20px;
          text-align: center;
          margin-bottom: 20px;
        }
      }
      .explain_close {
        position: absolute;
        background:url('../../assets/img/pc_close_r.png') no-repeat center top;
        width: 52px;
        height: 52px;
        border-radius 50%;
        left: 50%;
        bottom: -195px;
        text-align: center;
        line-height: 52px;
        color: #fff;
        transform: translate3d(-50%, 0, 0)
      }
    }
  }
  .get_bonus {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100000;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
    .pop_shadow {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
    }
    .at_explain {
      position: relative;
      width: 662px;
      color: #fff;
      height:368px;
      font-size: 16px;
      line-height: 28px;
      box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.50);
      border-radius: 0 0 16px 16px;
      margin: 85px auto;
      background:url('../../assets/img/bonus_cap.png') no-repeat center top;
      .explain {
        position: relative;
        padding-top:368px;
        text-align:center;
        #my_force{
          font-size: 72px;
          line-height:100px;
        }
        .bonus_wrap{
          font-size: 72px;
          line-height:72px;
          color: #FFE660;
          letter-spacing: 3px;
          text-align: center;
        }
        .go_money{
          color:#fff;
          background: #413B93;
          border: 2px solid #FFFFFF;
          border-radius: 23px;
          padding:5px 50px;
        }
        .go_money1{
          float:left;
          margin-left:50px;
        }
        .go_money2{
          float:right;
          margin-right:50px;
        }
        h2 {
          font-size: 20px;
          text-align: center;
          margin-bottom: 20px;
        }
      }
      .explain_close {
        position: absolute;
        background:url('../../assets/img/pc_close_r.png') no-repeat center top;
        width: 52px;
        height: 52px;
        border-radius 50%;
        text-align: center;
        line-height: 52px;
        color: #fff;
        right:0;
        top:0;
      }
    }
  }
}
































